Repository AstromaoLabs/sightseeing-map, pull requests merged in 2024-12, with the labels that each got.

#33 Fixes Issue #1 logout endpoint
  backend/sightseeing_map/settings.py
  backend/users/urls.py
  backend/users/views.py
Labels: enhancement, backend, API

#34 Issue #17 homepage
  frontend/src/App.css
  frontend/src/component/Footer.js
  frontend/src/component/Header.js
  frontend/src/index.js
Labels: enhancement, frontend

#37 Issue #5 forgot password endpoint
  .env.template
  backend/sightseeing_map/settings.py
  backend/users/serializers.py
  backend/users/templates/emails/password_reset_email.html
  backend/users/urls.py
  backend/users/views.py
Labels: enhancement, backend, API

#40 Issue #39 api key protection
  backend/api_keys/__init__.py
  backend/api_keys/admin.py
  backend/api_keys/apps.py
  backend/api_keys/migrations/0001_initial.py
  backend/api_keys/migrations/__init__.py
  backend/api_keys/models.py
  backend/api_keys/permissions.py
  backend/api_keys/serializers.py
  backend/api_keys/tests.py
  backend/api_keys/urls.py
  backend/api_keys/views.py
  backend/sightseeing_map/settings.py
  backend/sightseeing_map/urls.py
  backend/users/views.py
Labels: backend, API, security
