Repository AstromaoLabs/sightseeing-map, pull requests merged in 2025-01, with the labels that each got.

#41 Issue #18 create login page
  backend/sightseeing_map/settings.py
  backend/users/serializers.py
  backend/users/views.py
  frontend/.env.template
  frontend/package-lock.json
  frontend/package.json
  frontend/src/component/Login.js
  frontend/src/endpoint/api.js
  frontend/src/index.js
Labels: frontend, API

#43 Issue #38 deploy api
  .env.template
  .github/workflows/deploy.yml
  .gitignore
  backend/Dockerfile
  backend/sightseeing_map/settings.py
  docker-compose.yml
  scripts/collect_static.sh
  scripts/deploy.sh
  scripts/initialize_environment.sh
  scripts/rebuild_docker.sh
Labels: backend, API, DevOps

#44 Create registration page
  frontend/src/component/register.js
  frontend/src/endpoint/api.js
  frontend/src/index.js
Labels: enhancement, frontend, API
